.vscode/PythonImportHelper-v2-Completion.json
__pycache__/__init__.cpython-310.pyc
__pycache__/code_editor.cpython-310.pyc
__pycache__/consol.cpython-310.pyc
__pycache__/expand.cpython-310.pyc
__pycache__/Search.cpython-310.pyc
__pycache__/temp.cpython-310.pyc
